@import './Variables.scss';

#about {
    color: $white-color;
    padding: $padding-section $padding-medium;

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .profile-picture {
            width: 12.5rem; // 200px -> 12.5rem
            height: 12.5rem;
            border-radius: 50%;
            margin-left: 15%;
            margin-bottom: $margin-medium;
            animation: fadeInLeft 1s ease;
            background: url('path/to/profile-picture.jpg') no-repeat center center; // Ajouter le chemin vers l'image
            background-size: cover;

            @media (max-width: 767px) {
                margin-left: auto;
                margin-right: auto;
            }
        }

        .info {
            flex: 1;
            margin-left: 15%;
            margin-right: 10%;
            padding: 0 1rem; // Added padding for better spacing on mobile

            .button-container {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                button {
                    margin: 0.5rem; // Added margin for better spacing between buttons on mobile
                }
            }
        }

        .animate-text {
            font-size: $heading-font-size;
            margin-bottom: $margin-medium;

            @media (max-width: 767px) {
                font-size: 1.5rem; // Adjust font size for mobile
            }
        }

        .animated-lines {
            opacity: 0;
            animation: animateLines 4s ease forwards;
            margin-bottom: $margin-small;
            
            p {
                font-size: 1.5rem; 
                line-height: 3rem; 
                margin-bottom: $margin-small;
//test modification version mobile
                @media (max-width: 767px) {
                    font-size: 1.25rem; 
                    line-height: 2rem; 
                    display: flex ;
                    flex-direction: column;
                    align-items: stretch;
                }
            }
        }
    }

    @media (max-width: 767px) {
        padding: $padding-small; // Reduce padding on smaller screens

        .content {
            flex-direction: column;

            .info {
                margin: 0;
            }
        }
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes animateLines {
    to {
        opacity: 1;
    }
}
