@import 'Variables';
#about {
   // background-color: $hero-background-color;
    color: $white-color;
    padding-left: $padding-medium;
    padding-right: $padding-medium;
    padding-bottom: $padding-section;
    padding-top: $padding-section;

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .profile-picture {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            background-color: $navbar-link-hover-color;
            margin-left: 15%;
            margin-bottom: $margin-medium;
            animation: fadeInLeft 1s ease;
        }

        .info {
            flex: 1;
            margin-left: 15%;
            margin-right: 10%;

            .button-container {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

             
            }
        }

        .animate-text {
            font-size: $heading-font-size;
            margin-bottom: $margin-medium;
        }

        .animated-lines {
            opacity: 0;
            animation: animateLines 4s ease forwards;
            margin-bottom: $margin-small;
            
            p {
                font-size: $paragraph-font-size;
                line-height: $line-height;
                margin-bottom: $margin-small;
                
                
            }
        }
    }

    @media (max-width: 767px) {
        .content {
            flex-direction: column;
          
            .profile-picture {
                margin-left: auto;
                margin-right: auto;
            }

            .info {
                margin: 0;
                padding: 0;
            }
        }
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes animateText {
    from {
        background-size: 0% 100%;
    }
    to {
        background-size: 100% 100%;
    }
}

@keyframes animateLines {
    to {
        opacity: 1;
    }
}

@keyframes appearText {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}
