.button {
    padding: 0.7rem 1.5rem;
    margin-top: 1rem;
    background-color: $violetFonce; // Violet foncé pour le bouton
    color: $blanc;
    border: none;
    border-radius: 20px; // Border-radius arrondi
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    width: fit-content;
    align-self: center;

    // Dégradé sur le bouton avec effet hover
    background-image: linear-gradient(to right, $violetPrincipal, $violetFonce);
    background-size: 200% auto;
    transition: background-position 0.5s;

    &:hover {
      background-position: right center;
    }
}