.carousel-container {
    width: 90%;
    overflow-x: auto; /* Activer le scroll horizontal */
    display: flex;
    align-items: center;
    padding-top: 7rem;
    padding-bottom: 7rem;
    position: relative;
    margin-left:60px;
  
    /* Cacher la barre de défilement */
    &::-webkit-scrollbar {
      display: none;
    }
  
    .carousel {
      display: flex;
      transition: transform 0.5s ease; /* Animation fluide */
      position: relative;
      width: fit-content; /* Adapter la largeur à la taille des cartes */
    }
  
    .slide {
      flex: 0 0 12%; /* Ajuster la taille pour afficher plus de cartes */
      opacity: 0.8;
      transition: opacity 0.5s ease, transform 0.5s ease;
      cursor: pointer;
      min-width: 250px; /* Taille minimale des cartes */
      padding-left:2px;
  
      
    }
  
    .slide:last-child {
      margin-right: calc((100% - (18% + 20px)) / 2); /* Espacement à droite pour la dernière carte */
    }
  
    .prev,
    .next {
      background-color: purple;
      color: white; /* Changer la couleur des boutons pour plus de visibilité */
      border: none;
      outline: none;
      cursor: pointer;
      border-radius: 50%; /* Rendre les boutons circulaires */
      padding: 8px; /* Réduire la taille des boutons */
      font-size: 20px;
      transition: transform 0.5s ease;
  
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
  
      &:hover {
        transform: translateY(-50%) scale(1.1);
      }
    }
  
    .prev {
      left: 10px;
    }
  
    .next {
      right: 10px;
    }
  }
  