@import 'Variables';

.contact {
  padding: $padding-medium;
  border-radius: $border-radius;
  color: $light-text-color;
  text-align: center;
  background-color: $light-background-color;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  form {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    padding: $padding-medium;
    border-radius: $border-radius;

    input[type="text"],
    input[type="email"],
    textarea {
      padding: $padding-small;
      margin-bottom: $margin-medium;
      border: none;
      border-radius: $border-radius;
      background-color: $encadre-background-color;
      color: $light-text-color;
      font-size: 1rem;
      width: 100%;
      box-sizing: border-box;
      transition: background-color 0.3s ease, box-shadow 0.3s ease;

      &::placeholder {
        color: $gray-color;
      }

      &:focus {
        outline: none;
        background-color: $pink-color;
        box-shadow: 0 0 10px $pink-color;
      }
    }

    textarea {
      height: 150px;
    }

    label {
      font-size: 1rem;
      margin-bottom: $margin-small;
      color: $pink-color;
    }

    button {
      padding: $padding-small $padding-medium;
      border: none;
      border-radius: $border-radius;
      background-image: linear-gradient(to right, $light-button-gradient);
      color: $white-color;
      font-size: 1rem;
      cursor: pointer;
      transition: background-position 0.5s, transform 0.3s;

      &:hover {
        background-position: right center;
        transform: translateY(-3px);
      }

      &:disabled {
        background-color: $gray-color;
        cursor: not-allowed;
      }
    }
  }

  .confirmation-message {
    background-color: $pink-color;
    color: $white-color;
    padding: $padding-small $padding-medium;
    border-radius: $border-radius;
    margin-top: $margin-medium;
    font-size: 1rem;
    animation: fadeIn 0.5s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
