@import './Variables.scss';

.contact {
  padding: 2rem;
  border-radius: $border-radius;
 // color: $white-color;
  text-align: center;
  padding-top: $padding-section;

  form {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    input[type="text"],
    input[type="email"],
    textarea {
      padding: 0.8rem;
      margin-bottom: 1.5rem;
    //  border: 1px solid #993600;
      border-radius: 15px;
     // background-color: rgba(255, 255, 255, 0.2);
      font-size: 1rem;
      text-align: center;
      width: 40%;
      box-sizing: border-box;

      @media screen and (max-width: 768px) {
        width: 100%;
        
      }
      &::placeholder {
        color: $gray-color;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 1px $pink-color, 0 0 0 1px $amber-color, 0 0 0 1px $navbar-link-hover-color;
      }
    }

    textarea {
      height: 150px;
    }
  }
  
  .confirmation-message {
    background-color: $pink-color;
    color: $white-color;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 1rem;
  }
}

.confirmation-modal {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  max-width: 400px;
  margin: auto;
  text-align: center;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #333;
  }

  p {
    margin-bottom: 1.5rem;
    color: #666;
  }

  button {
    background-color: #007BFF;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }
  }
}

.confirmation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
