@import 'Variables';


.hero {
    padding-top: $padding-section;
    padding-bottom:$padding-section;
    color: $text-color;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: center;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        text-align: start;
        margin: 0;
    }
}



.encadre-contraste {
    background-color: $encadre-background-color;
    padding: $padding-medium;
    border-radius: $border-radius;
    border: $border-size solid;
    border-image: linear-gradient(to right, $gradient-colors);
    border-image-slice: $border-image-slice;
    width: 80%;



h1 {
    color: $text-color;
    font-size: $heading-font-size;
    margin-bottom: $margin-small;

 p {
    color: $text-color;
    font-size: $paragraph-font-size;
    line-height: $line-height;
    margin-bottom: $margin-medium;
}
}
}

.hero-content {
    max-width: $max-content-width;
    align-items: start;
    padding: $padding-medium;
    width: 50%;

    @media screen and (max-width: 768px) {
        margin: 0;
        padding: 0;
    }
}

/* Styles for the code block */
.code-block {
    color: $code-text-color;
    font-family: 'Courier New', monospace;
    background-color: $code-background-color;
    padding: $padding-small;
    border-radius: 0;
    overflow: hidden;
    width: $code-block-width;
    height: $code-block-height;
    border: $border-size solid;
    border-image: linear-gradient(to right, $gradient-colors);
    border-image-slice: $border-image-slice;
}

/* Styles for the blink effect */
.blink {
    animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
    50% {
        opacity: 0;
    }
}

/* Ajout des styles pour les couleurs spécifiques */
.text-pink-500 {
    color: $pink-color;
}

.text-amber-300 {
    color: $amber-color;
}

.text-orange-400 {
    color: $orange-color;
}

.text-cyan-400 {
    color: $cyan-color;
}

.text-white {
    color: $white-color;
}

.text-gray-400 {
    color: $gray-color;
}
