@import './Variables.scss';

.hero {
    padding-top: 2rem;
    padding-bottom: 4rem;
    color: $text-color;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: center;

    @media screen and (max-width: 768px) {
        flex-direction: column;
       
        margin: 0;
        padding-bottom:40px
    }
}

.encadre-contraste {
    padding: $padding-medium;
    border-radius: $border-radius;
    width: 60%;
    overflow: hidden; 
    @media screen and (max-width: 768px) {
        width: 250px;
     
       
    }

    h1 {
        color: $text-color;
        font-size: $heading-font-size;
        margin-bottom: $margin-small;
        margin-top: -1rem;
        opacity: 0; /* Initial opacity for animation */
        transform: translateY(50px); /* Initial position for animation */
        animation: fadeInUp 0.5s ease-out 0.1s forwards; /* Apply the animation */
    }

    p {
        color: $text-color;
        font-size: $paragraph-font-size;
        line-height: $line-height;
        margin-bottom: $margin-medium;
    }
}

.hero-content {
    max-width: $max-content-width;
    align-items: start;
    width: 50%;

    @media screen and (max-width: 768px) {
      width: 250px;
    }
}

/* Styles for the code block */
.code-block {

    font-family: 'Courier New', monospace;
    padding: $padding-small;
    overflow: hidden;
    width: $code-block-width;
    height: $code-block-height;
    border: $border-size solid;
    border-image-slice: $border-image-slice;

    @media screen and (max-width: 768px) {
        margin-top:50px;
        width: 250px;
        height: 250px;
    }
}

/* Styles for the blink effect */
.blink {
    animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
    50% {
        opacity: 0;
    }
}

/* Keyframes for the fadeInUp animation */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Ajout des styles pour les couleurs spécifiques */
.text-pink-500 {
    color: $pink-color;
}

.text-amber-300 {
    color: $amber-color;
}

.text-orange-400 {
    color: $orange-color;
}

.text-cyan-400 {
    color: $cyan-color;
}

.text-white {
    color: $white-color;
}

.text-gray-400 {
    color: $gray-color;
}
