// Déclaration des variables pour les couleurs
$violetPrincipal: #ec4899; // Violet principal
$violetFonce: #7c3aed; // Violet foncé
$fondFonce: #0a0d37; // Fond plus foncé
$blanc: #ffffff; // Blanc

// Styles pour le composant Home
.home {
  //background-color: $fondFonce; // Fond foncé
  color: $blanc; // Texte blanc
  padding: 2rem;
  background-color: #000712
}

//color
//#840db2 violet
//#9f18a7 violet2
//#6b04bc violet3
//#7404bb violet4
//#9414ac violet5

//couleur pour NavBar
//#ea4c97 rose
//#f472b6 rose2
//#c52490 rose3
//#d46094 rose4
//#963694 rose5