// Modal.scss

$project-card-bg-color: black; // Couleur de fond de la carte de projet
$project-card-border-radius: 20px; // Rayon de bordure de la carte de projet
$project-card-text-color: #ffffff; // Couleur du texte de la carte de projet
$modal-bg-color: rgba(0, 0, 0, 0.5); // Couleur de fond de la modale
$modal-image-max-width: 80%; // Largeur maximale de l'image dans la modale

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 background-color: $modal-bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 0;
  animation: fadeIn 0.3s forwards;

  &.hide {
    animation: fadeOut 0.3s forwards;
  }
}

.modal-content {
//  background-color: $project-card-bg-color;
  padding: 20px;
  border-radius: $project-card-border-radius;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  width: 80%;
  max-width: 600px;
  animation: slideIn 0.3s forwards;

  #modal-github{
 display: flex  ;
  justify-content: center;
    width: 100%;

    button{
      background-color: #7c3aed;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #6a0572;
      }

      .button-icon
      {
        margin-right: 10px;
      }
    }
  
  
  }
}



.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: $project-card-text-color;
  background: transparent;
  border: none;
  &:hover {
    color: red;
  }
}

.project-details {
  text-align: center;

  h2 {
    margin-bottom: 10px;
   // color: $project-card-text-color;
  }

  p {
    margin-bottom: 20px;
   // color: $project-card-text-color;
  }
}

.slider-images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}



@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
