@import './Variables.scss';

.navbar {
  padding: $padding-small $padding-medium;
  border-bottom-right-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  transition: background-color 0.3s ease;

  &.open {
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-bottom: $border-size solid transparent;
  }

  .navbar-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: $padding-small $padding-medium;

      li {
        margin-right: $margin-small;

        &:last-child {
          margin-right: 0;
        }

        a {
          color: $navbar-link-color;
          text-decoration: none;
          font-weight: bold;
          transition: color 0.3s ease;
          padding: $padding-small $padding-medium;

          &:hover {
            border-radius: $border-radius;
          }
        }
      }
    }
  }

  .navbar-mobile {
    display: none;

    &.open {
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: max-height 0.3s ease-in-out;
      overflow: hidden;
      max-height: 500px; // Ajustez cette valeur en fonction de la taille du menu
    }

   

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: $margin-small;

        &:last-child {
          margin-bottom: 0;
        }

        a {
          color: $navbar-text-color;
          text-decoration: none;
          font-family: monospace;
          font-weight: bold;
          transition: color 0.3s ease;

          &:hover {
            color: $amber-color;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .navbar-desktop {
      display: none;
    }

    .navbar-mobile {
      display: flex;
     
    }
  }

  @media screen and (min-width: 768px) {
    #mobileMenuButton {
      display: none;
    }
  }
}
