@import './Variables.scss';

.navbar {
  padding: $padding-small $padding-medium;
  border-top: $border-size solid rgba(255, 255, 255, 0.7); /* Bordure solide en haut */
  border-bottom-right-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
 // background-color: $background-color; /* Couleur de fond du héros */
  transition: background-color 0.3s ease; /* Transition pour la transparence */

  @media (max-width: 768px) {
    /* Dégradé de bas en haut en version mobile */
    background-image: linear-gradient(to right, $navbar-mobile-gradient);  }

  &.open {
    // background-color: rgba(155, 21, 167, 0.7); // Plus transparent une fois ouvert
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-bottom: $border-size solid transparent; // Bordure du bas transparente
  }

  .navbar-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: $padding-small $padding-medium;

      li {
        margin-right: $margin-small;

        &:last-child {
          margin-right: 0;
        }

        a {
          color: $navbar-link-color;
          text-decoration: none;
          font-weight: bold;
          transition: color 0.3s ease;
          padding: $padding-small $padding-medium;

          &:hover {
           // background-image: linear-gradient(to right, $navbar-link-hover-color, rgba(236, 72, 153, 0.9));
            border-radius: $border-radius;
          }
        }
      }
    }
  }

  .navbar-mobile {
    display: none; /* Par défaut, masqué en version desktop */
  }

  @media (max-width: 768px) {
    .navbar-desktop {
      display: none; /* Masqué en version mobile */
      ul {
        display: none;
      }
    }

    .navbar-mobile {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;

      button.mobile-menu-button {
        background: none;
        border: none;
        color: $navbar-text-color;
        font-size: 1.2rem;
        cursor: pointer;
        outline: none;
        padding: $padding-small $padding-medium;
        border-radius: $border-radius;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      li {
        margin-bottom: $margin-small;

        &:last-child {
          margin-bottom: 0;
        }

        a {
          color: $navbar-text-color;
          text-decoration: none;
          font-family: monospace;
          font-weight: bold;
          transition: color 0.3s ease;

          &:hover {
            color: $amber-color;
          }
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    #mobileMenuButton {
      display: none;
    }
  }
}
