@import './Variables.scss';

.navbar {
  padding: $padding-small $padding-medium;
  border-bottom-right-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  transition: background-color 0.3s ease;

  @media (max-width: 768px) {
    background-image: linear-gradient(to right, $navbar-mobile-gradient);
  }

  &.open {
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-bottom: $border-size solid transparent;
  }

  .navbar-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: $padding-small $padding-medium;

      li {
        margin-right: $margin-small;

        &:last-child {
          margin-right: 0;
        }

        a {
          color: $navbar-link-color;
          text-decoration: none;
          font-weight: bold;
          transition: color 0.3s ease;
          padding: $padding-small $padding-medium;

          &:hover {
            border-radius: $border-radius;
          }
        }
      }
    }
  }

  .navbar-mobile {
    display: none;

    &.open {
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: max-height 0.3s ease-in-out;
      overflow: hidden;
      max-height: 500px; // Ajustez cette valeur en fonction de la taille du menu
    }

    button.mobile-menu-button {
      background: none;
      border: none;
      cursor: pointer;
      outline: none;
      padding: $padding-small $padding-medium;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }

      .hamburger-icon {
        width: 25px;
        height: 2px;
        background: #333;
        position: relative;
        transition: all 0.3s ease-in-out;

        &:before,
        &:after {
          content: '';
          width: 25px;
          height: 2px;
          background: #333;
          position: absolute;
          left: 0;
          transition: all 0.3s ease-in-out;
        }

        &:before {
          top: -8px;
        }

        &:after {
          bottom: -8px;
        }
      }

      &[aria-expanded='true'] .hamburger-icon {
        background: transparent;

        &:before {
          transform: rotate(45deg);
          top: 0;
        }

        &:after {
          transform: rotate(-45deg);
          bottom: 0;
        }
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: $margin-small;

        &:last-child {
          margin-bottom: 0;
        }

        a {
          color: $navbar-text-color;
          text-decoration: none;
          font-family: monospace;
          font-weight: bold;
          transition: color 0.3s ease;

          &:hover {
            color: $amber-color;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .navbar-desktop {
      display: none;
    }

    .navbar-mobile {
      display: flex;
    }
  }

  @media screen and (min-width: 768px) {
    #mobileMenuButton {
      display: none;
    }
  }
}
