.projectCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  margin-top:20px;
}

.project-card {
  background: black;
  border-radius: 20px; // Bordures arrondies
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4); // Ombre légèrement prononcée
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  overflow: hidden; // Masquer tout contenu débordant
  
  // Définir le contour coloré arrondi avec un dégradé linéaire
 box-shadow: 
 0 0 0 0.7px #ff6b6b,
 0 0 0 0.8px  #ff66cc,
  0 0 0 1px #a86bfe,
 0 0 0 3px #6a0572;

 transition: transform 0.3s ease; /* Animation de transformation au survol */
 position: relative; /* Pour positionner correctement l'élément superposé */
 transition: background-color 0.3s ease; /* Animation de transition fluide */

&:hover {
  transform: translateY(-8px); /* Translation vers le haut au survol */
  background-color: rgba(0, 0, 0, 0.5); /* Superposition semi-transparente */
 opacity: 1; /*à revoir*/
}
@media (max-width: 768px) {
width: 250px;
height: 350px;
}
  .project-card-img {
    width: 300px; // Image occupant toute la largeur de la carte
   height: 300px; // Hauteur ajustée automatiquement
    border-radius: 20px; // Bordures arrondies sur l'image
    object-fit: cover; // Ajuster l'image pour couvrir tout le conteneur
        /* Réduire l'opacité de l'image au survol */
        transition: opacity 0.3s ease; /* Animation de transition fluide */
      }
    
      &:hover {
        /* Superposition semi-transparente */
        background-color: rgba(0, 0, 0, 0.5); /* Superposition semi-transparente */
    
        .project-card-img {
          opacity: 0; /* Réduire l'opacité de l'image */
        }
  }

  .project-card-content {
    flex-grow: 1; // Permettre au contenu de prendre tout l'espace disponible
    padding: 1rem;
    color: #ffffff; // Couleur du texte blanc
    text-align: center; // Centrer le texte
  }

  .project-card-title {
    font-size: 1.5rem; // Taille de police légèrement augmentée
    margin-bottom: 1rem; // Marge inférieure pour séparer le titre du contenu
  }
}

