.slider-modal {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px; 
  overflow: hidden;

  .image-container {
    position: relative;
    cursor: pointer;

    .slider-image {
      max-width: 100%; 
      height: auto; 
      object-fit: contain; 
    }

    .click-indicator {
      position: absolute;
      bottom: 10px;
      right: 10px;
      font-size: 1.5rem;
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 50%;
      padding: 5px;
      pointer-events: none;
    }
  }

  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.5); // Fond semi-transparent
    border: none;
    color: black;
    font-size: 1.5rem;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgba(255, 255, 255, 0.8); // Fond plus opaque au survol
    }

    &.prev {
      left: 10px;
    }

    &.next {
      right: 10px;
    }
  }
}
//test amelioration UX
