@import './Variables.scss';

body {
  transition: background-color 0.3s, color 0.3s;
}

/* Light Mode */
body.light {
  background-color: $light-background-color;
  color: #333;

/* Light Navbar */
.navbar {
  background-color: $light-background-color;
  color: $navbar-text-color;
  
  .navbar-desktop {
    a {
      color: #0a0a0a;
      text-decoration: none;
      position: relative;
      font-size: 1.2rem;

      /* Test soulignement en dégradé lors du survol */
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 8px; /* Épaisseur de la ligne de soulignement */
        left: 0;
        bottom: -2px; /* Positionnement de la ligne par rapport au texte */
        background: linear-gradient(to right, $light-gradient-color); /* Dégradé linéaire */
        transform: scaleX(0);
        transition: transform 0.3s ease;
        transform-origin: bottom right;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
        margin-top: 2px;
            }

      &:focus {
        outline: 2px solid #600AFF; /* Couleur de focus pour accessibilité */
      }
    }
  }
}


  /* Light Hero Section */
  .hero {
    color: $light-text-color;

    .encadre-contraste {
      background-color: white;
      border-radius: 25px; /* Optionnel : pour arrondir les coins */
      animation: shadow 4s infinite alternate; /* Animation de l'ombre */
  
  @keyframes shadow {
      0% {
          box-shadow: 0 0 10px #325C00; /* Ombre initiale */
      }
      50% {
          box-shadow: 0 0 20px #705200; /* Ombre à mi-chemin */
      }
      100% {
          box-shadow: 0 0 10px #993600; /* Ombre finale */
      }
  }
}

  
    h1 {
      color: $light-text-color;
      background-image: linear-gradient(to right, $light-gradient-color);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      opacity: 0;
      transform: translateY(50px); /* Initial position for animation */
      animation: fadeInUp 0.5s ease-out 0.1s forwards; /* Apply the animation */
    }
    p {
    color: $light-text-color;
    font-size: $major-font-size;
    }
  }
    .code-block {
      border-image-slice: $border-image-slice;
      border-radius: 25px;
      background-color: white;

.text-cyan-400 {
  color: #993600;
}
      .text-amber-300 {
        color: #180202;
      }
      .text-gray-400 {
        color:green;
      }
      .text-pink-500 {
        color: green;
      }
      .light-mode-style {
        width: 100%;
        position: relative;
        //height: 5px;
        margin-top: -18px;
        padding:18px;
        margin-left: -18px;
        background-color: rgb(230, 230, 230);
        border-radius:25px 25px 0px 0px;
        

        .dot{
          width: 10px;
          height: 10px;
          border-radius: 50%;
         position: absolute;
         box-shadow: 0 0 1px black;
         // top: 10px;
         // left: 10px;
         //background-color: red;
        }
       .light-red{
         background-color: red;
         position: absolute;
         left:15px;
        }

       .light-yellow{
          background-color:rgb(255, 230, 0);
          left:30px;
          position: absolute;
        }
       .light-green{
          background-color:green;
          left: 45px;
          position: absolute;
        }
        

  } }
  

  /* Light Buttons */
  .theme-switcher {
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }

  .button {
    background-image: linear-gradient(to right, $light-button-gradient);
    background-size: 200% auto;
    transition: background-position 0.5s;

    &:hover {
      background-position: right center;
    }
  }

  /* Light AboutMe Section */
  #about{
    .profile-picture {
      background-color: #993600;
    }
  .animate-text {
    background-image: linear-gradient(to right, $light-gradient-color);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    opacity: 0;
    animation: animateText 5s ease forwards, appearText 1s ease forwards;
  }

  .animated-lines {
    opacity: 0;
    animation: animateLines 5s ease forwards;

    a {
      color: $light-text-color;
      text-decoration: none;

      &:hover {
        color: transparent;
        background-image: linear-gradient(to right, $light-gradient-color);
        -webkit-background-clip: text;
        background-clip: text;
      }
    }

    p {
      color: $light-text-color;
      text-decoration: none;
    }
  }
}

/* Light Skills Section */

#skills-heading {
    background-image: linear-gradient(to right, $light-gradient-color);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    opacity: 0;
    transform: translateY(50px); /* Initial position for animation */
    animation: fadeInUp 0.5s ease-out 0.1s forwards; /* Apply the animation */
  
    .skill-name{
      color: $light-text-color;
    }
}

/*Light Carousel*/

.portfolio {
 
  .animate-text {
    background-image: linear-gradient(to right, $light-gradient-color);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    opacity: 0;
    animation: animateText 5s ease forwards, appearText 1s ease forwards;
  }
}

.carousel-container {
  .prev,
  .next {
    background-color: green; // couleur à retravailler
  }
}
.carousel-bullets {
  .carousel-bullet {
background-color: green; // idem
  }
}

/* Light ProjectCard */

.project-card{
  background-color: #515f3f5b; // à revoir 
  box-shadow:
    0px 10px 20px rgba(0, 0, 0, 0.6), // Ombre légèrement prononcée
    0 0 0 0.7px #993600, // Contour coloré
    0 0 0 1px #705200,
    0 0 0 0.8px  #565C00,
    0 0 0 3px #56920c;

    &:hover {
      box-shadow: 
      0px 20px 40px rgba(48, 47, 48, 0.6), // Ombre légèrement prononcée
      0 0 0 1px #325C00, // Contour coloré
      0 0 0 1.2px #565C00,
      0 0 0 2px #705200,
      0 0 0 4px #993600;
    }
.project-card-content {
  color: $light-text-color;
}
}

/* Light Modal */

.modal {
 
.modal-content{
  background-color: $light-background-color;
  
  h2, p {
    color: $light-text-color;
  }

  .close {
    color: $light-text-color;
    &:hover {
      color: red;
    }
  }
}

}

/* Light Contact */

.contact {
  .animate-text, h2{
  background-image: linear-gradient(to right, $light-gradient-color);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  opacity: 0;
  transform: translateY(50px); /* Initial position for animation */
  animation: fadeInUp 0.5s ease-out 0.1s forwards; /* Apply the animation */
  font-size: 35px;
}
}
}

/////////////////////////////////////////////////////////////////////////////////////////
/* Dark Mode */
body.dark {
  background-color: #0a0a0a;
  color: #f0f0f0;

  /* Dark Buttons */
  .theme-switcher {
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }

  .button {
    background-image: linear-gradient(to right, $button-gradient);
    background-size: 200% auto;
    transition: background-position 0.5s;

    &:hover {
      background-position: right center;
    }
  }

  /* Dark Navbar */
  .navbar {
    background-color: $navbar-background-color;
    color: $navbar-text-color;

    .navbar-desktop {
      a {
        color: white;
        text-decoration: none;
        position: relative;
        font-size: 1.2rem;
  
        /* Test soulignement en dégradé lors du survol */
        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 8px; /* Épaisseur de la ligne de soulignement */
          left: 0;
          bottom: -2px; /* Positionnement de la ligne par rapport au texte */
          background: linear-gradient(to right, $gradient-colors); /* Dégradé linéaire */
          transform: scaleX(0);
          transition: transform 0.3s ease;
          transform-origin: bottom right;
  
        }
  
        &:hover::after {
          transform: scaleX(1);
          transform-origin: bottom left;
          margin-top: 2px;
              }
  }
}
  }

  /* Dark Hero Section */

  .hero {
  

     .encadre-contraste {
      background-color: transparent;
      border-radius: 25px; /* Optionnel : pour arrondir les coins */
      animation: shadow-animation 4s infinite alternate; /* Animation de l'ombre */
  
  
  @keyframes shadow-animation {
      0% {
          box-shadow: 0 0 15px #ff6b6b; /* Ombre initiale */
      }
      30% {
          box-shadow: 0 0 25px #ff66cc; /* Ombre à mi-chemin */
      }

      65% {
          box-shadow: 0 0 35px #a86bfe; /* Ombre à mi-chemin */
      }
      100% {
          box-shadow: 0 0 45px #6a0572; /* Ombre finale */
      }
       } }

    h1 {
      color: $white-color;
    }
.code-block{
  border-image: linear-gradient(to right, $gradient-colors);
  border-image-slice: $border-image-slice;
  background-color: $code-background-color;
    }
}


/* Dark Portfolio */
.portfolio {
  .animate-text {
    background-image: linear-gradient(to right, $button-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    opacity: 0;
    animation: animateText 4s ease forwards, appearText 1s ease forwards;
  }
}

/* Dark Carousel */
.carousel-container {
  .prev,
  .next {
    background-color:#7c3aed ; // couleur à retravailler
  }
}

.carousel-bullets {
  .carousel-bullet {
background-color: #7c3aed; // idem
  }
}

/* Dark ProjectCard */
.project-card{
 background: black;
 box-shadow: 
   0px 10px 20px rgba(0, 0, 0, 0.4), // Ombre légèrement prononcée
    0 0 0 0.7px #ff6b6b, // Contour coloré
    0 0 0 0.8px  #ff66cc,
    0 0 0 1px #a86bfe,
    0 0 0 3px #6a0572;
    &:hover {
      box-shadow: 
     0px 15px 30px rgba(203, 179, 207, 0.6), // Ombre légèrement prononcée
      0 0 0 1px #ff6b6b, // Contour coloré
      0 0 0 1.2px #ff66cc,
     0 0 0 2px #a86bfe,
     0 0 0 4px #6a0572;
    }

    .project-card-content {
      color: #ffffff; // Couleur du texte blanc 
    }
}

/* Dark Modal */

.modal {

  .modal-content {
    background-color: $project-card-bg-color;

    h2, p {
      color:$text-color;
    }

    .close {
      color: $text-color;
      &:hover {
        color: red;
      }
    }
  }
}

  /* Dark AboutMe Section */

  #about{
    .profile-picture {
      background-color: $navbar-link-hover-color;
    }
  .animate-text {
    background-image: linear-gradient(to right, $button-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    opacity: 0;
    animation: animateText 4s ease forwards, appearText 1s ease forwards;
  }

  .animated-lines {
    opacity: 0;
    animation: animateLines 4s ease forwards;

    a {
      color: $white-color;
      text-decoration: none;

      &:hover {
        color: transparent;
        background-image: linear-gradient(to right, $button-gradient);
        -webkit-background-clip: text;
        background-clip: text;
      }
    }

    p {
      color: $white-color;
      text-decoration: none;
    }
  }
}

/* Dark Skills Section */
#skills-heading {
  background-image: linear-gradient(to right, $button-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  opacity: 0;
  transform: translateY(50px); /* Initial position for animation */
  animation: fadeInUp 0.5s ease-out 0.1s forwards; /* Apply the animation */

  .skill-name{
    color: $text-color;
  
  }
}
}
