/* Réinitialisation des styles */
:root {
  /* Définition des variables pour la police et les couleurs */
  --font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
  --text-color: rgba(255, 255, 255, 0.87);
  --background-color: #242424;
}

/* Utilisation des variables pour les styles généraux */
html, body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: var(--font-family);
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--background-color);
  background-color: #0D1224; /* changement pour la couleur bleu marine foncé*/
}

/* Styles pour les liens */
a {
  color: #646cff;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #535bf2;
}

/* Styles pour les boutons */
#mobileMenuButton {
  background: none; 
        border: none; 
        color: #fff; 
        font-size: 1.2rem; 
        cursor: pointer;
        outline: none; 
        padding: 0.5rem 1rem; 
        border-radius: 8px; 
        transition: background-color 0.3s ease;
        margin:1rem 7rem;
       
      
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Media queries pour les préférences de couleurs */
@media (prefers-color-scheme: light) {
  :root {
    --text-color: #213547;
    --background-color: #ffffff;
  }
  
  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

/* Styles spécifiques pour la mise en page */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

